<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="conSBSServerDataBase" value="Data Source=172.1.1.9;Initial Catalog=cic;uid=sa;pwd=welcome@123;" /> 
    <!--<add key="conSBSServerDataBase" value="Data Source=172.1.1.4;Initial Catalog=cicNew;uid=vtripathi;pwd=Welcome@1234;" />-->
    
    <add key="TimerInterval" value="90000" />
    <add key="username" value="9986331052" />
    <add key="password" value="ptaad" />
    <add key="feedid" value="362703" />
    <!--Netcore URL-->
    <add key="smsurl" value="http://bulkpush.mytoday.com/BulkSms/SingleMsgApi" />
    <!--Choose here appropriate URL-->
    <add key="Timeout" value="60000" />
    <add key="path" value="C:\\Error.txt" />
    <add key="ClientSettingsProvider.ServiceUri" value="" /> 
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>