<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="isSessionId" value="true"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="5001"/>
    <!-- Added By Ashok on 24.10.2014 when content is large and unable to generate click event of button-->
    <add key="Role" value="EIC,RSH"/>
    <add key="SecurityKey" value="UseHash"/>
    <add key="bseHref" value=""/>
    <add key="FromMailId" value="cgcare@cgglobal.com"/>
    <!--<add key="SMTPServerIP" value="121.241.247.18" />-->
    <!--commented bp on 7 jan 13-->
    <add key="SMTPServerIP" value="202.54.16.169"/>
    <!--add bp on 7 jan 13-->
    <add key="AjaxPleaseWaitTime" value="50"/>
    <add key="CustomerFilePath" value="../Docs/Customer/"/>
    <add key="MandatoryText" value="Mandatory fields"/>
    <add key="MandatoryTextAlign" value="right"/>
    <add key="AjaxLoadingImageName" value="../images/loading9.gif"/>
    <add key="ErrorImage" value="../images/error.gif"/>
    <add key="WarrImage" value="../images/warning.gif"/>
    <add key="UserMessage" value="../images/userdefine.gif"/>
    <add key="VirtualDirectoryName" value="CIC"/>
    <add key="SIMSAjaxLoadingImageName" value="../../images/loading9.gif"/>
    <add key="SIMSErrorImage" value="../../images/error.gif"/>
    <add key="SIMSWarrImage" value="../../images/warning.gif"/>
    <add key="SIMSUserMessage" value="../../images/userdefine.gif"/>
    <add key="SIMSCustomerFilePath" value="../SpareImage/"/>
    <add key="AjaxLoadingAlign" value="right"/>
    <add key="Yes" value="1"/>
    <add key="No" value="0"/>
    <add key="1" value="1"/>
    <add key="2" value="2"/>
    <add key="3" value="3"/>
    <add key="4" value="4"/>
    <add key="5" value="5"/>
    <add key="Fully Competent" value="1"/>
    <add key="Competent" value="0.5"/>
    <add key="Not Competent" value="0"/>
    <add key="PumpCode" value="37,61,113,126,133,143,157,169,182,186,206,220,1448,1531,1550,"/>
    <add key="MDRole" value="MD"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="FHPMotorCode" value="61"/>
    <add key="DemoCloserId" value="103"/>
    <add key="ComplaintDate" value="1400000000"/>
    <add key="DemoProductLineId" value="85"/>
    <add key="CancelChargesApplc" value="Local Complaints"/>
    <!-- Added By Ashok on 27.10.2014 in case of cancel complaint after initialization charges will fill based on this-->
    <add key="NewActivityPramId" value="952,953,954,955,956,957,958,959,960,961,962,963,964"/>
    <add key="Remarks" value="Resend for approval"/>
    <add key="RoleofSticker" value="Super Admin"/>
    <add key="RsmForCloserApproals" value="RSH"/>
    <add key="Complaint_Resolution_Report_Path" value="http://172.1.1.9/FileDownloadForCIC/"/>
  <add key="CGWebService1.CGWebService" value="https://itapp.cgglobal.com/CGWebService/CGWebService.asmx"/>
  </appSettings>
  <location path="PasswordRecovery.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="WSCPasswordRecovery.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="WSC/WSCSalesServiceLinks.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="WSC/WSCCheckCustomer.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="WSC/WSCNewCustomer.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="MasterPages/WSCCICPage.master">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <!--<add By Ashwini to Allow the Page  Start  />-->
  <location path="WebServices/PopupService.asmx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ABSCGWebService.svc">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="pages/webServicesPage.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="UnlockAccount.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--<location path="pages/PopUp.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <location path="sims/pages/ClaimApprovalNew1.aspx">
    <system.web>
      <authorization>
        <deny verbs="POST" roles="SC"/>
      </authorization>
    </system.web>
  </location>
  <location path="pages/ComplaintRegistrationCP.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="pages/ComplaintRegistrationIS.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="WSC/WSCSalesServiceLinkCP.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="WSC/WSCSalesServiceLinkIS.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="pages/TerritoryCitySearch.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- <location path="SIMS/Pages/SpareActivityLog.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <!--<add By Ashwini to Allow the Page  Close  />-->
  <location path="css">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="scripts">
    <system.web>
      <authorization>
        <allow users="?"/>
        <allow users="21054"/>
        <allow users="37uranus"/>
      </authorization>
    </system.web>
  </location>
  <location path="pages/SMSBySE.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <connectionStrings>  
    <add name="connstr" connectionString="data source=172.1.1.4;initial catalog=cic;uid=vtripathi;pwd=Welcome@1234;"/>
    <add name="simsconnstr" connectionString="data source=172.1.1.4;initial catalog=sims;uid=vtripathi;pwd=Welcome@1234;"/>     
    <!--<add name="connstr" connectionString="data source=172.1.1.9;initial catalog=cic;uid=sa;pwd=welcome@123;"/>
    <add name="simsconnstr" connectionString="data source=172.1.1.9;initial catalog=sims;uid=sa;pwd=welcome@123;"/>-->
        
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};   Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};  Extended Properties='Excel 8.0;HDR={1}'"/>
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="1048576"/>
    <sessionState timeout="3" mode="InProc"/>
    <!--<machineKey validationKey="6E180E77552B1F4AFCD56349D6E9C493054ECA5B4635634256BFA1D4790BDE521483D91A99E193F3E0219E54E4F384620C0D680183E037A1E8482AB902FAD838" decryptionKey="BDC6C304D3DBA8537C6535CD30C1B32B11C7F71B377995A08CAEA52D929D1474" validation="SHA1"/>-->
    <roleManager enabled="true" defaultProvider="myAspNetSqlRoleProvider">
      <providers>
        <add name="myAspNetSqlRoleProvider" connectionStringName="connStr" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add name="myAspNetWindowsTokenRoleProvider" applicationName="/" type="System.Web.Security.WindowsTokenRoleProvider"/>
      </providers>
    </roleManager>
    <profile enabled="true">
      <providers>
        <add name="AspNetProfileProvider" connectionStringName="connStr" applicationName="/" type="System.Web.Profile.SqlProfileProvider"/>
      </providers>
      <properties>
        <add name="User_Name" type="String"/>
        <add name="UserEmail" type="String"/>
        <add name="profile_Title" type="String" defaultValue="Avantha Technologies Limited"/>
      </properties>
    </profile>
    <customErrors mode="Off" defaultRedirect="Error.aspx">
      <error statusCode="404" redirect="PageNotFound.aspx"/>
    </customErrors>
    <membership defaultProvider="AspNetSqlMembershipProvider1">
      <providers>
        <add name="AspNetSqlMembershipProvider1" requiresUniqueEmail="false" enablePasswordRetrieval="true" enablePasswordReset="true" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="connStr" requiresQuestionAndAnswer="false" applicationName="/" passwordFormat="Clear" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="5"/>
      </providers>
    </membership>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Office.Interop.Excel, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"/>
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Office.Interop.Outlook, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"/>
        <add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
      <codeSubDirectories>
        <add directoryName="VBCode"/>
        <add directoryName="CSharpCode"/>
        <add directoryName="SIMS"/>
      </codeSubDirectories>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms timeout="100" protection="All"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages buffer="true">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove path="*.asmx" verb="*"/>
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="*.ashx" verb="*" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2"/>
      <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <!--<add type="VisitorLog" name="VisitorLog"/>-->
    </httpModules>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="cgcare@cgglobal.com">
        <network host="202.54.16.169" password="cgcapa" userName="cgcare@cgglobal.com"/>
        <!--<network host="121.241.247.18" password="" userName=""/>-->
        <!--commented bp on 7 jan 13-->
      </smtp>
    </mailSettings>
  </system.net>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <remove name="ChartImageHandler"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings/>
    <client/>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CGWebServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ClsDivisionAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <services>
      <service name="ABSCGWebService">
        <endpoint address="" behaviorConfiguration="CGWebServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ABSCGWebService" />
      </service>
      <service name="ClsDivision">
        <endpoint address="" behaviorConfiguration="ClsDivisionAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ClsDivision" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Service">
        <endpoint address="" binding="wsHttpBinding" contract="IService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>